<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
 <div>
   <label for="name">名前：</label>
   <input type="text" id="name" th:field="*{student.name}" required />
 </div>
  <div>
    <label for="furigana">ふりがな：</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required />
  </div>
  <div>
    <label for="nickname">ニックネーム：</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="emailAddress">メールアドレス：</label>
    <input type="text" id="emailAddress" th:field="*{student.emailAddress}" required />
  </div>
  <div>
    <label for="address">住んでる地域：</label>
    <input type="text" id="address" th:field="*{student.address}" required />
  </div>
  <div>
    <label for="age">年齢：</label>
    <input type="text" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="gender">性別：</label>
    <input type="text" id="gender" th:field="*{student.gender}"/>
  </div>
  <div>
    <label for="remark">その他伝えておくこと：</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="courses, stat : *{studentCourses}">
    <label for="coursesName">受講コース名：</label>
    <input type="text" id="coursesName" th:id="studentCourses.__${stat.index}__coursesName" th:field="*{studentCourses[__${stat.index}__].coursesName}"/>
  </div>
<div>
  <button type="submit">登録</button>
</div>
</form>
</body>
</html>